/* Import components */
/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/** 1. Change the default font family in all browsers (opinionated). 2. Prevent adjustments of font size after orientation changes in IE and iOS. */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/** Remove the margin in all browsers (opinionated). */
body {
  margin: 0; }

/* HTML5 display definitions ========================================================================== */
/** Add the correct display in IE 9-. 1. Add the correct display in Edge, IE, and Firefox. 2. Add the correct display in IE. */
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  /* 1 */
  display: block; }

/** Add the correct display in IE 9-. */
audio, canvas, progress, video {
  display: inline-block; }

/** Add the correct display in iOS 4-7. */
audio:not([controls]) {
  display: none;
  height: 0; }

/** Add the correct vertical alignment in Chrome, Firefox, and Opera. */
progress {
  vertical-align: baseline; }

/** Add the correct display in IE 10-. 1. Add the correct display in IE. */
template, [hidden] {
  display: none; }

/* Links ========================================================================== */
/** 1. Remove the gray background on active links in IE 10. 2. Remove gaps in links underline in iOS 8+ and Safari 8+. */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/** Remove the outline on focused links when they are also active or hovered in all browsers (opinionated). */
a:active, a:hover {
  outline-width: 0; }

/* Text-level semantics ========================================================================== */
/** 1. Remove the bottom border in Firefox 39-. 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari. */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/** Prevent the duplicate application of `bolder` by the next rule in Safari 6. */
b, strong {
  font-weight: inherit; }

/** Add the correct font weight in Chrome, Edge, and Safari. */
b, strong {
  font-weight: bolder; }

/** Add the correct font style in Android 4.3-. */
dfn {
  font-style: italic; }

/** Correct the font size and margin on `h1` elements within `section` and `article` contexts in Chrome, Firefox, and Safari. */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/** Correct the line-height for all headings in Chrome mobile, Firefox, iOS Safari, Microsoft Edge and IE. */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.15; }

/** Add the correct background and color in IE 9-. */
mark {
  background-color: #ff0;
  color: #000; }

/** Add the correct font size in all browsers. */
small {
  font-size: 80%; }

/** Prevent `sub` and `sup` elements from affecting the line height in all browsers. */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content ========================================================================== */
/** Remove the border on images inside links in IE 10-. */
img {
  border-style: none; }

/** Hide the overflow in IE. */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content ========================================================================== */
/** 1. Correct the inheritance and scaling of font size in all browsers. 2. Correct the odd `em` font sizing in all browsers. */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/** Add the correct margin in IE 8. */
figure {
  margin: 1em 40px; }

/** 1. Add the correct box sizing in Firefox. 2. Show the overflow in Edge and IE. */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/* Forms ========================================================================== */
/** 1. Change font properties to `inherit` in all browsers (opinionated). 2. Remove the margin in Firefox and Safari. */
button, input, optgroup, select, textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */ }

/** Restore the font weight unset by the previous rule. */
optgroup {
  font-weight: bold; }

/** Show the overflow in IE. 1. Show the overflow in Edge. */
button, input {
  /* 1 */
  overflow: visible; }

/** Remove the inheritance of text transform in Edge, Firefox, and IE. 1. Remove the inheritance of text transform in Firefox. */
button, select {
  /* 1 */
  text-transform: none; }

/** 1. Prevent a WebKit bug where (2) destroys native `audio` and `video` controls in Android 4. 2. Correct the inability to style clickable types in iOS and Safari. */
button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/** Remove the inner border and padding in Firefox. */
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/** Restore the focus styles unset by the previous rule. */
button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/** Change the border, margin, and padding in all browsers (opinionated). */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/** 1. Correct the text wrapping in Edge and IE. 2. Correct the color inheritance from `fieldset` elements in IE. 3. Remove the padding so developers are not caught out when they zero out `fieldset` elements in all browsers. */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/** Remove the default vertical scrollbar in IE. */
textarea {
  overflow: auto; }

/** 1. Add the correct box sizing in IE 10-. 2. Remove the padding in IE 10-. */
[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/** Correct the cursor style of increment and decrement buttons in Chrome. */
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto; }

/** 1. Correct the odd appearance in Chrome and Safari. 2. Correct the outline style in Safari. */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/** Remove the inner padding and cancel buttons in Chrome and Safari on OS X. */
[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/** Correct the text style of placeholders in Chrome, Edge, and Safari. */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/** 1. Correct the inability to style clickable types in iOS and Safari. 2. Change font properties to `inherit` in Safari. */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/*************************************************************/
/*  	VARIABLES and MIXINS								 */
/*************************************************************/
/*************************************************************/
/*  	GENERAL												 */
/*************************************************************/
html, body {
  font-family: 'montserratlight';
  font-style: normal;
  color: #000;
  font-size: 16px; }

.left {
  float: left; }

.right {
  float: right; }

.clear {
  clear: both; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.half {
  width: 50%; }

.third {
  width: 33%; }

.two-thirds {
  width: 67%; }

.fourth {
  width: 25%; }

.three-fourths {
  width: 75%; }

.main {
  min-width: 300px; }

.container {
  max-width: 1024px;
  margin: 0 auto; }

body {
  background: #F4F4F4;
  color: #43444F; }

/*************************************************************/
/*  	HEADER												 */
/*************************************************************/
.red-nav {
  background: #CD0F40;
  height: 48px;
  width: 100%; }
  .red-nav #mobile-menu-trigger {
    display: block;
    margin-top: 12px;
    width: 30px;
    height: 30px;
    float: right;
    transition: .5s ease all;
    position: relative; }
    .red-nav #mobile-menu-trigger .horz-bar {
      display: block;
      width: 100%;
      height: 2px;
      background: #fff;
      margin-top: 5px;
      transition: .5s ease all;
      opacity: 1;
      left: 50%;
      position: absolute;
      top: 0;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%); }
      .red-nav #mobile-menu-trigger .horz-bar:first-of-type {
        top: 0; }
      .red-nav #mobile-menu-trigger .horz-bar:nth-of-type(2) {
        top: 6px; }
      .red-nav #mobile-menu-trigger .horz-bar:last-of-type {
        top: 12px; }
    .red-nav #mobile-menu-trigger.opened .horz-bar:first-of-type {
      transform: rotate(-45deg) translate(-50%, 0);
      -webkit-transform: rotate(-45deg) translate(-50%, 0);
      margin-top: 0;
      position: absolute;
      top: 0%;
      left: 50%; }
    .red-nav #mobile-menu-trigger.opened .horz-bar:nth-of-type(2) {
      transform: rotate(45deg) translate(-50%, 0);
      -webkit-transform: rotate(45deg) translate(-50%, 0);
      margin-top: 0;
      position: absolute;
      top: calc(75% - 1px);
      left: 50%; }
    .red-nav #mobile-menu-trigger.opened .horz-bar:last-of-type {
      opacity: 0; }

.page-header {
  background: url(../images/dignity.jpg);
  background-size: cover;
  background-position: center center;
  padding: 15px 0; }
  .page-header .header-info {
    padding: 50px 0; }
  .page-header .header-toggle {
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.3); }
    .page-header .header-toggle a {
      color: #fff;
      text-decoration: none;
      width: 50%;
      display: block;
      text-align: center;
      padding: 10px 0; }
      .page-header .header-toggle a.active {
        background: #fff;
        color: #CD0F40;
        border-radius: 20px; }

/*************************************************************/
/*  	CONSTRUCTION										 */
/*************************************************************/
#construction {
  display: none; }

/*************************************************************/
/*  	FORM UI ELEMENTS									 */
/*************************************************************/
.row {
  width: 100%;
  clear: both;
  margin: 20px 0; }

h1 {
  font-family: 'montserratthin';
  color: #CD0F40; }

select {
  background: none;
  border: none;
  border-bottom: 1px solid #E7E7E7;
  -webkit-appearance: none;
  border-radius: 0;
  width: 100%;
  padding-bottom: 10px;
  margin: 15px 0;
  color: #43444F; }

label {
  width: 100%; }

input {
  background: none;
  box-shadow: 0;
  border: none;
  border-bottom: 1px solid #E7E7E7; }

.button {
  color: #fff;
  text-decoration: none;
  width: 100%;
  display: block;
  text-align: center;
  padding: 10px 0;
  background: #CD0F40;
  border-radius: 20px;
  border: none;
  margin: 20px 0;
  cursor: pointer; }

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  border: 1px solid #E7E7E7;
  background: #CD0F40; }

.ui-widget.ui-widget-content {
  border: 1px solid #E7E7E7;
  background: #fff; }

.toolTipHolder {
  position: relative; }
  .toolTipHolder .tooltip {
    position: absolute;
    bottom: 100%;
    background: #fff;
    width: calc(100% - 30px);
    padding: 15px;
    text-align: center;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.15);
    opacity: 0;
    transition: all .5s ease; }
    .toolTipHolder .tooltip:after {
      content: '';
      height: 20px;
      width: 20px;
      position: absolute;
      bottom: -10px;
      background: #fff;
      box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.15);
      left: calc(50% - 10px);
      transform: rotate(45deg); }
    .toolTipHolder .tooltip.active {
      opacity: 1; }

/*************************************************************/
/*  	CALCULATE MODAL 									 */
/*************************************************************/
.calculate-modal {
  display: none;
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.8); }
  .calculate-modal .results-box {
    background: #fff;
    position: absolute !important;
    width: 80%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative; }
    .calculate-modal .results-box .results-container {
      position: relative;
      height: 100%;
      padding: 25px; }
      .calculate-modal .results-box .results-container .result-circle {
        height: 120px;
        width: 120px;
        border: 2px solid #CD0F40;
        border-radius: 50%;
        margin: auto; }
        .calculate-modal .results-box .results-container .result-circle #result {
          font-size: 50px;
          text-align: center;
          color: #CD0F40;
          width: 120px;
          display: block;
          margin-top: 24px;
          font-family: 'montserratlight'; }
      .calculate-modal .results-box .results-container .con-10-units-text,
      .calculate-modal .results-box .results-container .units-text {
        font-family: 'montserratmedium';
        color: #878787;
        text-align: center;
        margin-top: 20px; }

/* tablet size */
@media (max-width: 1024px) {
  .container {
    padding-left: 25px;
    padding-right: 25px; } }
/* mobile size */
@media (max-width: 767px) {
  .half, .third, .two-thirds, .three-fourths, .fourth {
    width: 100%; } }

/*# sourceMappingURL=style.css.map */
