/*************************************************************/
/*  	GENERAL												 */
/*************************************************************/
html, body { @include default-font;}
.left {float:left;}
.right {float:right;}
.clear {clear:both;}
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

.half { width: 50%;}
.third { width: 33%;}
.two-thirds { width: 67%;}
.fourth { width: 25%;}
.three-fourths { width: 75%;}

.main {min-width: $min-width; }
.container { max-width: $max-width; margin: 0 auto;}

body {
	background: $grey;
	color: $text;
}


/*************************************************************/
/*  	HEADER												 */
/*************************************************************/
.red-nav {
	background: $red;
	height: 48px;
	width: 100%;

	#mobile-menu-trigger {
		display: block;
		margin-top: 12px;
		width: 30px;
		height: 30px;
		float: right;
		transition: .5s ease all;
		position: relative;

		.horz-bar {
			display: block;
			width: 100%;
			height: 2px;
			background: $white;
			margin-top: 5px;
			transition: .5s ease all;
			opacity: 1;
			left: 50%;
			position: absolute;
			top: 0;
			transform: translateX(-50%);
			-webkit-transform: translateX(-50%);

			&:first-of-type {
				top: 0;
			}
			&:nth-of-type(2) {
				top: 6px;
			}
			&:last-of-type {
				top: 12px;
			}
		}

		&.opened {

			.horz-bar {

				&:first-of-type {
					transform: rotate(-45deg) translate(-50%, 0);
					-webkit-transform: rotate(-45deg) translate(-50%, 0);
					margin-top: 0;
					position: absolute;
					top: 0%;
					left: 50%;
				}

				&:nth-of-type(2) {
					transform: rotate(45deg) translate(-50%, 0);
					-webkit-transform: rotate(45deg) translate(-50%, 0);
					margin-top: 0;
					position: absolute;
					top: calc(75% - 1px);
					left: 50%;
				}

				&:last-of-type {
					opacity: 0;
				}
			}
		}
	}
}

.page-header {
	background: url(../images/dignity.jpg);
	background-size: cover;
	background-position: center center;
	padding: 15px 0;

	.header-info {
		padding: 50px 0;
	}

	.header-toggle {
		border-radius: 20px;
		background: rgba(0,0,0,.3);

		a {
			color: $white;
			text-decoration: none;
			width: 50%;
			display: block;
			text-align: center;
			padding: 10px 0;

			&.active {
				background: $white;
				color: $red;
				border-radius: 20px;
			}
		}
	}

}

/*************************************************************/
/*  	CONSTRUCTION										 */
/*************************************************************/

#construction {
	display: none;
}


/*************************************************************/
/*  	FORM UI ELEMENTS									 */
/*************************************************************/

.row {
	width: 100%;
	clear: both;
	margin: 20px 0;
}

h1 {
	@include font-thin;
	color: $red;
}

select {
	background: none;
	border: none;
	border-bottom: 1px solid $light-grey;
	-webkit-appearance: none;
	border-radius: 0;
	width: 100%;
	padding-bottom: 10px;
	margin: 15px 0;
	color: $text;
}

label {
	width: 100%;
}

input {
	background: none;
	box-shadow: 0;
	border: none;
	border-bottom: 1px solid $light-grey
}

.button {
	color: $white;
	text-decoration: none;
	width: 100%;
	display: block;
	text-align: center;
	padding: 10px 0;
	background: $red;
	border-radius: 20px;
	border: none;
	margin: 20px 0;
	cursor: pointer;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
	border: 1px solid $light-grey;
	background: $red;
}

.ui-widget.ui-widget-content {
    border: 1px solid $light-grey;
	background: $white;
}

.toolTipHolder {
	position: relative;

	.tooltip {
		position: absolute;
		bottom: 100%;
		background: $white;
		width: calc(100% - 30px);
		padding: 15px;
		text-align: center;
		box-shadow: 0 0 2px 2px rgba(0,0,0,.15);
		opacity: 0;
		transition: all .5s ease;

		&:after {
			content: '';
			height: 20px;
			width: 20px;
			position: absolute;
			// top: 100%;
			bottom: -10px;
			background: $white;
			box-shadow: 2px 2px 2px 0px rgba(0,0,0,.15);
			left: calc(50% - 10px);
			transform: rotate(45deg);
			// border-top: 10px solid $white;
			// border-right: 10px solid transparent;
			// border-left: 10px solid transparent;
		}

		&.active {
			opacity: 1;
		}
	}
}

/*************************************************************/
/*  	CALCULATE MODAL 									 */
/*************************************************************/
.calculate-modal {
	display: none;
	position: absolute;
	z-index: 999;
	width: 100%;
	height: 100%;
	top: 0;
	background: rgba(0,0,0,.8);

	.results-box {
		background: $white;
		position: absolute !important;
		width: 80%;
		height: auto;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		position: relative;

		.results-container {
			position: relative;
			height: 100%;
			padding: 25px;

			.result-circle {
				height: 120px;
				width: 120px;
				border: 2px solid $red;
				border-radius: 50%;
				margin: auto;
				// position: absolute;
				// top: 50px;
				// left: 50%;
				// transform: translateX(-50%);
				// -webkit-transform: translateX(-50%);

				#result {
					font-size: 50px;
					text-align: center;
					color: $red;
					width: 120px;
					display: block;
					margin-top: 24px;
					@include font-light;
				}
			}

			.con-10-units-text,
			.units-text {
				@include font-med;
				color: $text-grey;
				text-align: center;
				margin-top: 20px;
			}
		}
	}
}
