/*************************************************************/
/*  	VARIABLES and MIXINS								 */
/*************************************************************/

// variables
$white: #fff;
$black: #000;
$red: #CD0F40;
$grey: #F4F4F4;
$light-grey: #E7E7E7;
$text: #43444F;
$text-grey: #878787;

$max-width: 1024px;
$min-width: 300px;

@mixin font-thin { font-family: 'montserratthin'; }
@mixin font-light { font-family: 'montserratlight'; }
@mixin font-reg {  font-family: 'montserratregular'; }
@mixin font-med {  font-family: 'montserratmedium'; }
@mixin font-bold { font-family: 'montserratbold'; }

//mixins
@mixin default-font {
	@include font-light;
	font-style: normal;
	color: $black;
	font-size: 16px;
}
