/* tablet size */
@media (max-width: 1024px) {
	.container {
		padding-left: 25px;
		padding-right: 25px;
	}

}

/* mobile size */
@media (max-width: 767px) {

	.half, .third, .two-thirds, .three-fourths, .fourth {
		width: 100%;
	}


}
